{% extends "base.html" %}

{% load bootstrap5 %}

{% block content%}
    <div class="card">
        <div class="border-bottom title-part-padding">
            <h2 class="card-title mb-0">
                KRILOG
            </h2>
        </div>
        <div class="card-body">
            <p>Synchronizace dat do ELK</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="offer" class="btn btn-primary waves-effect waves-light m-r-5 m-t-5">
                  Synchronizace nabídek
                </button>
                <button type="submit" name="demand" class="btn btn-primary waves-effect waves-light m-r-5 m-t-5">
                  Synchronizace poptávek
                </button>
                <button type="submit" name="word" class="btn btn-primary waves-effect waves-light m-r-5 m-t-5">
                  Synchronizace slov
                </button>
            </form>

        </div>

    </div>

{% endblock content%}
